<!-- Generated template for the GymAndFloorPickerComponent component -->
<div>
  <ion-item-group>
    <ion-item-divider color="primary">Gym Settings</ion-item-divider>
    <ion-item >
      <ion-label *ngIf='optionsLoaded' color="primary">Gym Name</ion-label>
      <ion-label *ngIf='!optionsLoaded && connection && !this.connection.hasDataConn' class="assertive"> Gym Name (Connect to Internet to Change)</ion-label>
        <ion-select *ngIf='optionsLoaded' (ionChange)='updateGymId($event)'>
          <ion-option *ngFor='let gym of gymData' [selected]='gym.gymId==gymId' [value]='gym'>
            {{gym.name}}
          </ion-option>
        </ion-select>
    </ion-item>
    <ion-item >
      <ion-label *ngIf="mapsObj && mapsObj.hasOwnProperty('mapByFloor') && mapsObj.mapByFloor" color="primary">Floor</ion-label>
        <ion-select *ngIf="mapsObj && mapsObj.hasOwnProperty('mapByFloor') && mapsObj.mapByFloor" (ionChange)='updateFloor($event)'>
          <ion-option  *ngFor='let floor of Object.keys(mapsObj.mapByFloor)' [selected]='floor==this.settings.currentFloor' [value]='floor'>
            {{floor}}
          </ion-option>
        </ion-select>
    </ion-item>
  </ion-item-group>
</div>
