route-comment {
  .comment-input {
    // border-style: solid;
    // border-width: thin;
  }

  .heavy-font {
    font-weight: 600;
  }

  .opaque {
    opacity: 0.6;
  }

  .ionic-image-cache-container {
    display: flex;
    justify-content: center;

    margin:0px;
    width:100%;

    // border-style: dotted;
    // border-color: red;
  }

  .center-in-column {
    display: flex;
    justify-content: center;

    margin:0px;
    width:100%;

    // border-style: dotted;
    // border-color: red;
  }

  .avatar {
    height:9.5vh;
    width:9.5vh;
    display: block;
    // margin-left: 1vh;
    // margin-right: auto;
    // margin-top: 1vh;
    // margin-bottom: auto;
    // border-style: dashed;
    // border-color: blue;
    overflow: hidden;
    border-radius: 50%;
  }

  .comment-toggle-container {
    position:absolute;
    font-size:40px;
    transform: translate(225px,-28px);//last x:
    z-index:1000;
    // border-style: solid;
    // border-color: red;
  }

  .reply-toggle-container {
    position:absolute;
    font-size:30px;
    // transform: translate(0px,-28px);//last x:
    z-index:1000;

    background-color:#D6DF2A;//yellow
    color: #A001D0; //purple
    border-radius: 50%;
    text-align: center;
  }

  .cancel-reply {
    position:absolute;
    font-size:30px;
    // transform: translate(0px,-28px);//last x:
    z-index:1000;

    background-color: #A001D0; //purple
    color:#D6DF2A;//yellow
    border-radius: 50%;
    text-align: center;
  }

  .dark-eggshell {
    background: #ebe0e0;
    // background: #e2d0d0;
    // background: #d8c0c0;
   // color: #e3d0d0;
   // background: #7d4f4f ;

  }
  .show-comment{
    height:40px;
    width:40px;
    background-color:#D6DF2A;//yellow
    color: #A001D0; //purple
    border-radius: 50%;
    text-align: center;
    z-index: 10;

  }

  .cancel-comment {
    height:40px;
    width:40px;
    background-color:#A001D0;//purple
    color: #D6DF2A; //yellow
    border-radius: 50%;
    text-align: center;
    z-index: 10;
  }

  .show-border {
    border-style: solid;
    border-color: red;
  }

  .reply {

  }

}
