<!-- Generated template for the RouteCommentComponent component -->
<div no-padding class="rounded margin-top eggshell">
    <div [style.width]="'100%;'"
    no-padding
    class="comment-toggle-container"
    >

      <ion-icon name="ios-text"
        (click)="showCommentBox = !showCommentBox; newCommentMessage = null;"
        *ngIf="!showCommentBox && !showCommentLoadingSpinner && !replyBoxVisible"
        class="show-comment"
       >
      </ion-icon>
      <!-- <button *ngIf="!showCommentBox && !showCommentLoadingSpinner && !replyBoxVisible"
        (click)="showCommentBox = !showCommentBox"
        ion-button icon-only outline round small no-margin>
      </button> -->
    </div>

  <h1 *ngIf="!connProv.isConnected()"> Connect to internet to view comments </h1>
  <div *ngIf=connProv.isConnected()>
    <!-- <h2 *ngIf="commentsReady && platformReady ">Be the first to leave a comment for this route.</h2> -->

        <ion-grid no-margin>
          <ion-row *ngIf="showCommentBox" >

            <ion-col col-2>

              <ionic-image-cache
               *ngIf="showCommentBox"
               item-start [isAvatar]="'true'" [showPreview]="'false'"
               [src]="user.photoURL ? user.photoURL: null"
               class="img-circle size-avatar">
              </ionic-image-cache>

            </ion-col>
            <ion-col col-10>
              <div *ngIf="showCommentBox" class="rounded dark-eggshell">
                <ion-textarea [(ngModel)]="newCommentMessage" class="comment-input"
                  placeholder="Spray forth, you opinionated crusher ;)">
                </ion-textarea>

                <br no-margin/>

                <span (click)="postComment()"
                  class="heavy-font opaque  purple"
                  margin float-left>
                  Post
                </span>
                <span
                  (click)="showCommentBox = !showCommentBox; newCommentMessage = null;"
                  class="heavy-font opaque  purple"
                  margin float-right>
                    Cancel
                </span>
              </div>
            </ion-col>

          <div *ngIf="showCommentLoadingSpinner">
            <ion-spinner></ion-spinner><em>...posting your spray </em>
          </div>
        </ion-row>
      </ion-grid>

    <div *ngIf='commentsReady && platformReady && comments' no-margin no-padding>

      <div  *ngFor="let comment of comments; index as commentIndex;" class="eggshell">

        <div [attr.id]="comment.commentId"  no-margin>
          <ion-grid no-margin>
<!--
          <ion-row *ngIf="showCommentBox" >

            <ion-col col-2>

              <ionic-image-cache
               *ngIf="showCommentBox"
               item-start [isAvatar]="'true'" [showPreview]="'false'"
               [src]="user.photoURL ? user.photoURL: null"
               class="img-circle size-avatar">
              </ionic-image-cache>

            </ion-col>
            <ion-col col-10>
              <div *ngIf="showCommentBox" class="rounded dark-eggshell">
                <ion-textarea [(ngModel)]="newCommentMessage" class="comment-input"
                  placeholder="Spray forth, you opinionated crusher ;)">
                </ion-textarea>

                <br no-margin/>

                <span (click)="postComment()"
                  class="heavy-font opaque  purple"
                  margin float-left>
                  Post
                </span>
                <span
                  (click)="showCommentBox = !showCommentBox; newCommentMessage = null;"
                  class="heavy-font opaque  purple"
                  margin float-right>
                    Cancel
                </span>
              </div>
            </ion-col>

          <div *ngIf="showCommentLoadingSpinner">
            <ion-spinner></ion-spinner><em>...posting your spray </em>
          </div>
        </ion-row> -->
            <ion-row row-no-margin>
            <ion-col class="flex-col" col-3 height="15" row-no-margin>

              <div class="ionic-image-cache-container">
                <ionic-image-cache  	[isAvatar]="'true'" [showPreview]="'false'"
                 [src]="comment.authorMug ? comment.authorMug : null"
                 [imgCssClass]="'avatar'"
                  >
                </ionic-image-cache>
              </div>

              <!-- <ionic-image-cache item-start   [isAvatar]="'true'" [showPreview]="'false'"
               [src]="comment.authorMug ? comment.authorMug : null"
               class="img-circle size-avatar">
              </ionic-image-cache> -->
            </ion-col>

            <!-- <ion-avatar item-start>
              <img [src]="comment.authorMug ? comment.authorMug : null" />
            </ion-avatar> -->
            <ion-col col-9 row-no-margin>


            <div class="dark-eggshell rounded">
              <p class="heavy-font opaque" margin-top>
                {{comment.authorName}}:
              </p>

              <p (click)="toggleCommentIsSelected(comment)" [attr.text-wrap]="comment.isSelected" margin-bottom no-padding >{{comment.comment}}</p>

              <div *ngIf="!comment.isSelected && comment.showReplyButton && !comment.showReplyLoadingSpinner && !showCommentBox"
              (click)="hideReplyButtonsAndShowReplyBox(comment)"
              class="heavy-font opaque  purple"
               >
                <span margin float-right>Reply</span>
                  <!-- <ion-icon name="chatboxes">
                  </ion-icon> -->
              </div>

                <div *ngIf="comment.isSelected && connProv.isConnected() && isOwner(comment)"
                (click)="deleteComment(comment,commentIndex)" >
                  <span  (click)="postReply(comment, commentIndex )"
                    margin
                    class="purple" float-right>
                    Delete
                  </span>
                  <!-- <ion-icon name="md-trash"></ion-icon> -->
                </div>

                <em *ngIf="comment.isSelected && isOwner(comment) && !connProv.isConnected()">Connect to the internet to delete your comment.</em>

            </div>
          </ion-col>

          </ion-row>
        <!-- BEGIN reply row -->
          <ion-row  >
            <ion-col class="flex-col" col-1  >
            </ion-col>

            <ion-col class="flex-col" col-8 >
              <!-- Reply Box -->

                  <div *ngIf="comment.showReplyBox && !showReplyLoadingSpinner"
                  class="rounded dark-eggshell"
                  >
                    <ion-textarea [(ngModel)]="newReplyMessage"
                      placeholder="Reply to this spray."
                      class="center-in-column ">
                    </ion-textarea>
                    <br no-margin/>
                      <span (click)="cancelReplyAndRevealAllReplyButtons(comment); newReplyMessage = null;"
                       margin
                       class="heavy-font opaque  purple"
                        float-left>
                       Cancel
                      </span>
                      <span  (click)="postReply(comment, commentIndex )"
                       margin
                       class="heavy-font opaque  purple"
                        float-right>
                        Post
                      </span>
                  </div>

                  <div *ngIf="comment.showReplyLoadingSpinner">
                    <ion-spinner></ion-spinner><em>...posting your spray </em>
                  </div>
            </ion-col>
            <ion-col col-3>

                  <ionic-image-cache *ngIf="comment.showReplyBox && !showReplyLoadingSpinner"
                   item-start [isAvatar]="'true'" [showPreview]="'false'"
                   [src]="user.photoURL ? user.photoURL: null"
                   class="img-circle size-avatar">
                  </ionic-image-cache>

            </ion-col>

          </ion-row>

          <!-- <ion-row>
            <ion-col col->
            </ion-col>

            <ion-col>
            </ion-col>
          </ion-row> -->

          </ion-grid>
        </div>

        <div *ngIf='comment.replies' no-margin>
        <ion-grid no-margin>
          <div *ngFor="let reply of comment.replies; index as replyIndex;"

          >
            <ion-row >
              <ion-col col-1>
              </ion-col>

              <ion-col col-8>
                <div class="dark-eggshell rounded">
                  <!-- <ion-avatar item-start>
                    <img [src]="reply.authorMug ? reply.authorMug : null" />
                  </ion-avatar> -->
                  <p class="heavy-font opaque" *ngIf="reply?.authorName" margin-top>
                    {{reply.authorName}}:
                  </p>
                  <p
                    margin-bottom no-padding
                    (click)="toggleReplyIsSelected(reply)" [attr.text-wrap]="reply.isSelected">
                    {{reply.comment}}
                  </p>

                  <div *ngIf="reply.isSelected && connProv.isConnected() && isOwner(reply)"
                    (click)="deleteReply(reply,comment,replyIndex,commentIndex)"
                    class="purple"
                    margin
                    small>
                    Delete

                    <!-- <ion-icon name="md-trash" class="purple"></ion-icon> -->
                  </div>

                  <em *ngIf="reply.isSelected && isOwner(reply) && !connProv.isConnected()">Connect to the internet to delete your reply.</em>

                </div>
              </ion-col>

              <ion-col class="flex-col" col-3 height="15">
                <div class="ionic-image-cache-container" >
                  <ionic-image-cache item-start [isAvatar]="'true'" [showPreview]="'false'"
                   [src]="reply.authorMug ? reply.authorMug : null"
                   class="img-circle size-avatar">
                  </ionic-image-cache>
                </div>
              </ion-col>




            </ion-row>



          </div>
          <ion-row  *ngIf="comment.lastReplySnap && comment.replies && !replyBoxVisible && !showCommentBox && comment.replies.length < comment.numReplies">
            <ion-col col-2>
              </ion-col>
              <ion-col col-10>

                <div
                class="heavy-font purple "
                (click)="getMoreReplies(comment,commentIndex)"
                 small>
                  <ion-icon name="md-more"></ion-icon>
                  More Replies
                </div>

              </ion-col>
          </ion-row>

        </ion-grid>
        </div>

          <!-- <div class="reply-toggle-container">

          </div> -->



          <!-- <ion-row>
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
          </ion-row> -->

          <ion-row>

          <ion-col class="flex-col" col-2 height="15" row-no-margin>
          </ion-col>

          </ion-row>
        <!-- END reply row -->
      </div>

      <div *ngIf="comments && numComments && !replyBoxVisible && !showCommentBox && comments.length < numComments"

      class="heavy-font purple "
      (click)="getMoreComments()"
      margin-bottom margin-left
      small>
        <ion-icon name="md-more"></ion-icon>
        More Comments
      </div>
    </div>
    <br>


    <!-- For Copy Pasting -->
    <!-- <button ion-button icon-end small>
      <ion-icon name=""></ion-icon>

    </button> -->
  </div>

</div>
