<ion-content padding>

  <div *ngIf='variablesReady'>
    <ion-label>
      Show me routes set by:
    </ion-label>

    <ion-list radio-group [(ngModel)]="filters.setBy">
      <ion-item>
        <ion-label>People like me!</ion-label>
        <ion-radio value="me" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Route Setter(s)</ion-label>
        <ion-radio value="setter"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Anyone</ion-label>
        <ion-radio value="anyone"></ion-radio>
      </ion-item>
    </ion-list>
      <ion-label >
        Only show routes with these colors:
      </ion-label>

      <div *ngIf="(filters.setBy=='setter' || filters.setBy=='anyone') && orderedColorNames">
        <ion-grid >
            <ion-row>
                <ion-col *ngFor="let colorName of orderedColorNames">
                  <button ion-button  [outline]="!filters.colors[colorName]" (click)="toggleColor(colorName)">
                    <ion-icon name='radio-button-on' [style.color]="colorNamesToColorCodes[colorName]">
                    </ion-icon>
                  </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
  </div>
  
  <gym-and-floor-picker>
  </gym-and-floor-picker>

  <filter-selector  #filterSelector
  [mode]='mode'
  [message]='message'
      >
  </filter-selector>

</ion-content>
  <ion-footer>
    <ion-navbar>
    <!-- <ion-buttons end>
      <button ion-button icon-only color="dark" (click)="done()">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-footer>
