
<ion-list>
  <form [formGroup]="featuresForm">
    <ion-item>
      <ion-label stacked>Route Name:</ion-label>
      <ion-input formControlName="routeName" [(ngModel)]="existingName" type="text" placeholder="The Unbearable Lightness of Plastick" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Description:</ion-label>
      <ion-input formControlName="routeDescription" [(ngModel)]="existingDescription" type="text" placeholder="An instant pastick classc, this route is..." ></ion-input>
    </ion-item>
  </form>
</ion-list>

  <!-- <ion-label floating>Route Grade</ion-label>
  <ion-input type="number" (model)='existingRoute.grade'></ion-input> -->

  <!-- Official route vs diy route... -->
  <div *ngIf='variablesReadyForFilterSelector && platformReady'>
    <ion-label>
      "Who set this route?"
    </ion-label>

    <ion-list radio-group [(ngModel)]="setBy">
      <ion-item>
        <ion-label>Me</ion-label>
        <ion-radio value="me" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Route Setter(s)</ion-label>
        <ion-radio value="setter"></ion-radio>
      </ion-item>
    </ion-list>

    <!-- <div *ngFor="let colorName of orderedColorNames">
      <ion-icon name='radio-button-on'>
      </ion-icon>
    </div> -->


    <!-- The color picker -->
    <div *ngIf="setBy=='setter'">
      <ion-label *ngIf='!color && platformReady && orderedColorNames'>
        Pick the route's color:
      </ion-label>

      <ion-label *ngIf='color && platformReady && orderedColorNames'>
        The route's color is {{color}}
      </ion-label>

      <ion-grid >
          <ion-row>
              <ion-col *ngFor="let colorName of orderedColorNames">
                <button ion-button  [outline]="colorName!==color" (click)="color=colorName">
                  <ion-icon name='radio-button-on' [style.color]="colorNamesToColorCodes[colorName]">
                  </ion-icon>
                </button>
              </ion-col>
          </ion-row>
      </ion-grid>
    </div>

  <div>


  <filter-selector  #filterSelector
  *ngIf='variablesReadyForFilterSelector'
  [mode]='mode'
  [message]='message'
  [routeEditorFeatures]='routeEditorFeatures'
  >
  </filter-selector>
