<ion-header>
  <ion-navbar color="primary" #navbar>
    <ion-title> Login </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="assets/img/login.jpeg" class="auth-img">

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
      [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password"
        [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
        </ion-input>
    </ion-item>
    <ion-item class="error-message"
    *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!loginForm.valid">
      Login
    </button>

  </form>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button full color="primary" (click)="goToResetPassword()">
          Forgotten Password
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full color="primary" (click)="goToSignupPage()">
          New User
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button full ion-button (click)="signInWithFacebook()">Login with Facebook</button>
</ion-content>
