<!-- [hidden]="hideRoute" -->
<div no-margin no-padding>
  <div [style.width]="svgWidth + 'px'" [style.height]="svgHeight + 'px'"
    style="display: block; margin-left: auto; margin-right: auto;">
    <svg [attr.id]="divID" class="svg"[attr.viewBox]=svgViewBox xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <image [attr.xlink:href]=photoSrc [attr.width]=svgWidth [attr.height]=svgHeight/>
    </svg>
  </div>
</div>
