<ion-header>
  <ion-navbar>
    <ion-buttons *ngIf="routeLoaded" start>
      <button ion-button color="primary" (click)="sendRoute()">I sent!</button>

      <button ion-button
        *ngIf="!showDeleteContestComponent"
        (click)="showDeleteContestComponent = !showDeleteContestComponent">
        Route missing?
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <delete-contest-route
    *ngIf="showDeleteContestComponent"
    [gymId]="gymName"
    [mapsId]="mapId"
    [route]="route"
    [userId]="this.userId"
    (deleteContestAction)="handleDeleteContestAction($event)"
  >
  </delete-contest-route>


  <!-- <div *ngIf="!listsLoaded">
    Lists loading...
  </div>
  <div *ngIf="listsLoaded">
    <div *ngIf="doesNotExistInLists">
      This route does not exist in any of your lists. <br>
    </div>
    <div *ngIf="!doesNotExistInLists">
      This route is in:
      <div>
        <a *ngIf="!editList" (click)="toggleEditList()" style="float: right;">edit</a>
        <a *ngIf="editList" (click)="toggleEditList()" style="float: right;">cancel</a>
      </div>
      <ul *ngFor="let list of inLists">
        <li style="white-space:nowrap;">
          {{list.list}}
          <i *ngIf="list.count > 1">({{list.count}} times)</i>
          <a *ngIf="editList" (click)="removeFromList(list.list)" style="position: absolute; float:right; right: 25%;">remove</a>
        </li>
      </ul>
    </div>


    <div *ngIf="addToListButton">
      <div *ngIf="userDoesNotHaveFloorLists">
        You do not have any open lists for this floor of this gym.
      </div>
      <ion-item *ngIf="!userDoesNotHaveFloorLists">
        <ion-label>Add to list:</ion-label>
        <ion-select [(ngModel)]="selectedOpenList" (ionChange)="addToList(selectedOpenList)">
          <ion-option *ngFor="let listName of floorLists" >{{listName}}</ion-option>
        </ion-select>
      </ion-item>
      <a *ngIf="addToListButton" ion-button round small (click)="toggleAddToListButton()" style="float: right;">Cancel</a>
    </div>
    <br>
    <ion-item-divider>
      <a (click)="createNewCustomList()">+ New List With this Route</a>
      <a *ngIf="!addToListButton" (click)="toggleAddToListButton()" style="float: right;">+ Add to list</a>
    </ion-item-divider>
    <br>
  </div> -->

  <ion-spinner *ngIf="feedCache && feedCache.hasOwnProperty('cacheTracker') && feedCache.cacheTracker.cacheState.idToLoading[route.pushKey]" width=100 height=200></ion-spinner>
    <RouteDisplayComponent
      *ngIf = "routeLoaded && feedCache && feedCache.hasOwnProperty('cacheTracker') && feedCache.cacheTracker.cacheState.idToLoaded && feedCache.cacheTracker.cacheState.idToLoaded[route.pushKey]"
      [divWidth]="routeDetailWidth"
      [divHeight]="routeDetailHeight"
      [imgURL]="feedCache.cacheTracker.cacheState.idToLoaded[route.pushKey].fullPath"
      [completeRoute]="route"
      [mapContainerDimensions]='mapContainerDimensions'
      [displayMode]="'complete-map'"
      [mapObj]="svgMapObj"
      [routeHeadingStyleFlag]="'detail-view'"
      >
    </RouteDisplayComponent>
      <!-- [topoContainerDimensions]="svgRouteContainerDimensions" -->

<!-- the name route-comment is a misnomer. It should be plural. -->
<route-comment *ngIf="routeLoaded"
  [gymId]="gymName"
  [mapsId]="mapId"
  [routeId]="routeId"
  [numComments]="route.numComments ? route.numComments : null"
>
</route-comment>

    routeDetailHeight: {{routeDetailHeight}}
    routeDetailWidth: {{routeDetailWidth}}
    platformWidth: {{platform.width()}}
    platformHeight: {{platform.height()}}


</ion-content>

<!-- TODO: present "give feedback" AFTER they send the route (or at least try it?). -->
  <!-- <div style="text-align:center;">
    <button ion-button icon-end outline round small
      *ngIf='routeLoaded && !showRouteFeedbackComponent '
      (click)="showRouteFeedbackComponent=!showRouteFeedbackComponent">
      <ion-icon name="md-paper"></ion-icon>
      Give Feedback
    </button>
  </div>
  <br><br>


  <route-feed-back
  *ngIf='routeLoaded && showRouteFeedbackComponent'
  [fStoreRouteDocPath]="fStoreRouteDocPath"
  (gotFeedback)="showRouteFeedbackComponent=!showRouteFeedbackComponent">
  </route-feed-back> -->
