<!-- *ngIf="svgWidth" -->
<!-- [style.width]="platform?.width()" [style.height]="platform?.height()" -->
<!-- [style.width]="platform?.width()" [style.height]="platform?.height()" -->
<!--  -->
<!-- [style.height]="platform.height() + ';'"
[style.width]="platform.width()  + ';'" -->

<!-- route container is 328px x 485px -->
<div #svgRouteContainer
class="test-border-red svg-route-topo-container"

no-margin no-padding>
<!-- "svgWidth" -->
<!-- "svgHeight" -->
    <!-- <style type="text/css">
    	.st0{fill:#00AEEF;stroke:#FFFFFF;stroke-miterlimit:10;}
    	.st1{fill:#F9ED32;stroke:#FFFFFF;stroke-miterlimit:10;}
    	.st2{fill:none;stroke:#EC008C;stroke-width:6;stroke-miterlimit:10;}
    </style> -->

      <!-- [style.width]="containerDimensions.x" [style.height]="containerDimensions.y" -->

  <!-- svg: 270px x 480px -->

      <!-- [attr.width]="svgWidth"
      [attr.height]="svgHeight" -->

   <svg *ngIf="containerDimensions" #svgElement

      [attr.width]="containerDimensions.x"
      [attr.height]="containerDimensions.y"

      [attr.viewBox]="svgViewBox"
      class='svg prevent-scroll no-scroll topo test-border-blue'
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      >
    <image [attr.xlink:href]="routeSrc"/>
  </svg>


</div>
