svg-route {
  #svgRouteContainer{
    // height:100% !important;
    // width:100% !important;
    // margin:0px;
    // padding:0px;
  }

  .svg-route-topo-container{
    display:inline-block;
    // height:100% !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    z-index:100;
    // border-style:solid;
    overflow: hidden;
  }

    // height:100vh !important;
    // width:100vh !important;
  .topo {
    margin-left:0px; //new change
    display:block; //the margin on svg's can be messed up without this
    margin-bottom:0px;
    overflow:hidden;
    z-index:101;
    // padding: 0px;
    // display: block;
    // height:100%;
    // width:100%;
    // height:100vh !important;
    // width:100vh !important;
  }

}
