route-heading {
  // .rounded {
  //   border-radius: 25px;
  // }

  .flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  //

  .position-bottom{
    width:100%;
    height:100%;
    position:absolute;
    bottom:0px;
    margin:0px !important;
  }

  .detail-view {
    border-radius: 25px;
    overflow: hidden;
    background-color: #f5efef;
  }

  // .eggshell {
  //   background-color: #f5efef;
  // }

  //NOTE: if change squat.height, update avatar.height/width
  .squat {
    height: 12vh;
    // border-style: solid;
    margin-bottom:1vh;
  }

  //NOTE: height and width were chosen based on the height defined above in .squat
  //the total height available is squat.height, so choose avatar.height/width to be less
  //.squat.height
  .avatar {
    height:9.5vh;
    width:9.5vh;
    display: block;
    // margin-left: 1vh;
    // margin-right: auto;
    // margin-top: 1vh;
    // margin-bottom: auto;
    // border-style: dashed;
    // border-color: blue;
    overflow: hidden;
    border-radius: 50%;
  }

  .ionic-image-cache-container {
    display: flex;
    justify-content: center;

    margin:0px;
    width:100%;

    // border-style: dotted;
    // border-color: red;
  }

  .blurb {
    text-align: left;
    width:100%;
    // border-style: solid;
    // border-color: red;
    // height: 100%;
    overflow: hidden;
  }

  .author-name {
    font-size: 85%;
    // border-color: blue;
    // border-style: solid;
    height: 25%;
  }

  .route-name {
    // border-color:black;
    // border-style:solid;
    height: 50%;
    font-size: 130%; //of standard text size, NOT of parent element
    line-height:100%;
    font-weight: 400;
  }

  .climb-style {
    // border-color:orange;
    // border-style:solid;
    color: #00b300;
    text-transform: capitalize;
    height: 25%;
    font-size: 85%;
  }

  .grade {
    text-align: center;
    // border-color:blue;
    font-size: 300%;
    font-weight: 300;
    width:100%;
    // border-style:solid;
    overflow:hidden;
  }

}
