<div [ngClass]='styleClasses' no-padding no-margin>

<!-- <div class="squat " no-padding> -->
  <ion-grid [style.height]="'100%'" no-margin no-padding>
    <ion-row [style.height]="'100%'" [style.width]="'100%'" no-margin no-padding >
      <ion-col class="flex-col" col-3 [style.height]="'100%'">
        <div class="ionic-image-cache-container">
          <ionic-image-cache  	[isAvatar]="'true'" [showPreview]="'false'"
           [src]="authorMug ? authorMug: null"
           [imgCssClass]="'avatar'"
            >
          </ionic-image-cache>
        </div>
      </ion-col>

      <ion-col class="flex-col" col-6 [style.height]="'100%'" no-margin>
        <div class="blurb" >
          <div class="author-name" no-margin no-padding>
            {{authorName}}
          </div>
          <div class="route-name" no-margin no-padding>
            {{routeName}}
          </ div>
          <div class="climb-style" no-margin no-padding *ngIf="style || wallAngle">
            {{filterCategoryObject.rangeFilterCategories.wallAngle.valueMap[wallAngle].label}}
            <span *ngIf="style && wallAngle">, </span>
            {{style}}
          </div>
        </div>
      </ion-col>

      <!-- Show consensus grade by default. If not available, show grade. -->
      <ion-col class="flex-col" col-3 [style.height]="'100%'" no-margin >
          <div *ngIf="consensusGrade" class="grade" no-margin>
              V{{consensusGrade}}
            </div>
            <div *ngIf="!consensusGrade"class="grade" no-margin>
              V{{grade}}
            </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>
