<h1 *ngIf='message'>
  {{message}}
</h1>

<!-- Possibilities:
 categoriesReady
 mode=='filter'
 mode=='edit'

 Want to show message while this view loads/saved filters load, options load, etc. -->
<div *ngIf='categoriesReady'>
    <!-- if the filtersProv is not yet initialized, so the user's saved grade range is not available, use the default min and max -->
    <!-- <div *ngIf="mode==='filter'"> -->

  <div *ngIf="mode==='filter' && this.filters">

    <!-- *** Grades ****
    If this.filters does not have rangeFilters.grade.lower/upper attributes, then use the filterCategoryObject to build the lables -->
    <ion-label *ngIf="!this.filters || !this.filters.hasOwnProperty('rangeFilters') || !this.filters.rangeFilters.hasOwnProperty('grade')">
      Grades from {{filterCategoryObject.rangeFilterCategories.grade.min.value}} to
      {{filterCategoryObject.rangeFilterCategories.grade.max.value}}
    </ion-label>
    <ion-label *ngIf="this.filters && this.filters.hasOwnProperty('rangeFilters') && this.filters.rangeFilters.hasOwnProperty('grade')">
      Grades from <em>{{filters.rangeFilters.grade.lower}}</em> to
      <em>{{filters.rangeFilters.grade.upper}}</em>
    </ion-label>

    <!-- set filters.rangeFilters.grade.lower/upper using the values from this ion-range element -->
    <ion-range *ngIf="filters && filters.hasOwnProperty('rangeFilters') && filters.rangeFilters.hasOwnProperty('grade')"
               dualKnobs="true" [(ngModel)]="filters.rangeFilters.grade"
                 min={{filterCategoryObject.rangeFilterCategories.grade.min.value}} max={{filterCategoryObject.rangeFilterCategories.grade.max.value}}
                step="1" snaps="true">
    </ion-range>
    <!-- ***END Grades*** -->


    <ion-label *ngIf="!filters || !filters.hasOwnProperty('rangeFilters') || !filters.rangeFilters.hasOwnProperty('wallAngle')">
      Wall angles from <em>{{filterCategoryObject.rangeFilterCategories.wallAngle.valueMap[filterCategoryObject.rangeFilterCategories.wallAngle.min.value].label}} </em>to
      <em>{{filterCategoryObject.rangeFilterCategories.wallAngle.valueMap[filterCategoryObject.rangeFilterCategories.wallAngle.max.value].label}}</em>
    </ion-label>

    <div *ngIf="filters && filters.hasOwnProperty('rangeFilters') && filters.rangeFilters.hasOwnProperty('wallAngle')">

      <ion-label >
        Wall angles from <em>{{filterCategoryObject.rangeFilterCategories.wallAngle.valueMap[filters.rangeFilters.wallAngle.lower].label}} </em>to
        <em>{{filterCategoryObject.rangeFilterCategories.wallAngle.valueMap[filters.rangeFilters.wallAngle.upper].label}}</em>
      </ion-label>
      <ion-range *ngIf="filters && filters.hasOwnProperty('rangeFilters') && filters.rangeFilters.hasOwnProperty('wallAngle')"
                 dualKnobs="true" [(ngModel)]="filters.rangeFilters.wallAngle"
                   min={{filterCategoryObject.rangeFilterCategories.wallAngle.min.value}} max={{filterCategoryObject.rangeFilterCategories.wallAngle.max.value}}
                  step="1" snaps="true">
      </ion-range>
    </div>

    <div *ngFor="let category of attributeCategories">
      <ion-label> {{filterCategoryObject.attributes[category].label}} </ion-label>
      <div *ngFor="let option of filterCategoryObject.attributes[category].options">
        <button
          ion-button [outline]="!filters || !filters.attributes.hasOwnProperty(option) || !filters.attributes[option]" block
          (click)="filters.attributes[option]=!filters.attributes[option] ">
          {{option}}
        </button>
      </div>
    </div>
  </div>


  <div *ngIf="mode ==='edit' || mode === 'feedback' && this.filters">

    <h1 *ngIf="showFeedbackModeMessages">
      How does this route feel to you?
    </h1>

    <!-- *** Grades ****
    If this.filters does not have rangeFilters.grade.lower/upper attributes, then use the filterCategoryObject to build the lables -->
    <ion-label>
      Grade: V{{filters.rangeFilterVal.grade}}
    </ion-label>

    <!-- set filters.rangeFilterVal.grade.lower/upper using the values from this ion-range element -->
  <ion-range *ngIf="filters && filters.hasOwnProperty('rangeFilterVal') && filters.rangeFilterVal.hasOwnProperty('grade')"
               dualKnobs="false" [(ngModel)]="filters.rangeFilterVal.grade"
                 min={{filterCategoryObject.rangeFilterCategories.grade.min.value}} max={{filterCategoryObject.rangeFilterCategories.grade.max.value}}
                step="1" snaps="true">
    </ion-range>
    <!-- ***END Grades*** -->


    <div *ngIf="filters && filters.hasOwnProperty('rangeFilterVal') && filters.rangeFilterVal.hasOwnProperty('wallAngle')">
      <ion-label >
         Wall Angle: <em>{{filterCategoryObject.rangeFilterCategories.wallAngle.valueMap[filters.rangeFilterVal.wallAngle].label}} </em>
      </ion-label>
      <ion-range *ngIf="filters && filters.hasOwnProperty('rangeFilterVal') && filters.rangeFilterVal.hasOwnProperty('wallAngle')"
                 dualKnobs="false" [(ngModel)]="filters.rangeFilterVal.wallAngle"
                   min={{filterCategoryObject.rangeFilterCategories.wallAngle.min.value}} max={{filterCategoryObject.rangeFilterCategories.wallAngle.max.value}}
                  step="1" snaps="true">
      </ion-range>
    </div>

    <div *ngFor="let category of attributeCategories">
      <ion-label> {{filterCategoryObject.attributes[category].label}} </ion-label>
      <div *ngFor="let option of filterCategoryObject.attributes[category].options">
      <button
        ion-button [outline]="!filters || !filters.attributes.hasOwnProperty(option) || !filters.attributes[option]" block
        (click)="filters.attributes[option]=!filters.attributes[option] ">
        {{option}}
      </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mode==='filter' && !this.filters">
  <h1>Trying to retrieve your filters...</h1>
</div>






<div *ngIf='!categoriesReady'>
  <h1>Loading options...</h1>
</div>
