<!-- Generated template for the RouteFeedBackComponent component -->
<div>

<filter-selector  #filterSelector
  *ngIf='templateContentReady && !postingFeedback'
  [mode]="'feedback'"
  [message]='message'
  [routeEditorFeatures]='routeEditorFeatures'
  >
</filter-selector>

  <button *ngIf='templateContentReady && !postingFeedback && platformReady' ion-button (click)="submitFeedback()">
    Submit Feedback
  </button>
</div>
