<!-- *See comments at bottom of this page -->
<div ion-fixed class='no-scroll {{additionalClass}}' style="visibility:inherit; overflow: hidden; position: relative;"
[style.width.%]="100"
[style.height.%]="100"
>
  <!-- the style.width and style.height attributes are for the svg (a kind of container), not for it's contents! -->
  <!-- it is important that the svg is able to take up 100% of the space it is given, else we get weird, gutter effects  -->
  <!-- ...where we want the map to be: the map will appear to slide behind some invisible space. -->
   <svg class='pan-zoom empty-map map-component'
    #svgElement
    style="visibility:inherit; display:block;"
    id="applyCSS"

     xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"

     [style.width.%]="100"
     [style.height.%]="100"
     >
  </svg>
</div>

<!--
***************  svg-map concepts and questions and todos:  **************

  **Creating svgContents
  svgContents is a string containing the desired contents of the svg tags in the map.
  Use an svg editor, such as inkscape, to draw maps.
  maps should be drawn according to the following rules
   -use line segments (a tool in inkscape)
   -use absolute coordinates (a setting in inkscape... relative paths will break the code)
   -draw segments from the climber's left to the climber's right (a setting in your brain... important!)
   -in svg code, path tags representing actual climbing walls must have class='wall' (excluding this breaks codes!)
    it is fine to include other svg content (curves, colors, etc for styling, just DO NOT put class='wall' on style content)


**svg-component dom mainpulation: classes
    There are two ways that map components are selected from the dom using classes: empty-map and map-component.
    empty-map is used for the first map rendering. After mapContents are inserted, the empty-map class is removed.

    The only time we need to change mapContents is in the feed pags. Since feed page is the root page, we can access it's map
    using the class 'map-component'.

    NOTE: The current code feels a bit hackish. It depends on only ever needing to redraw a map on the feedPage. This constraint will
    be a problem when we implement user-generated lists/circuits, since routes in a given list will likely occur on different floors.
    TODO: implement a system where each page marks it's own svg instance with a unique id, then redraw the map using that id

    Here's a typical use case:
    1.) App is launched
        a.) routes-feed page grabs appropriate mapContents using settings, gymId, etc.
        b.) routes-feed page passes mapContents to svg-map component through template binding [mapContents]="mapContents"
        c.) svg-map component finds svg with class='empty-map'. Changes innerHTML to mapContents then REMOVES class='empty-map'

    2.) User navigates to route editor. (Feed Page contents, including map-component are hidden, but remain in DOM)
        a.) mapsObject and current floor are passed to editor page by navParams
        b.) mapContents are over-ridden in route-editor constructor (QUESTION: so this will keep firestore map changes from triggering a redraw?)
        c.) svg-map initializes: finds svg with class='empty-map' (there are now two sets of svg tags in the DOM, but the route-feed page's
            map had class='empty-map' removed) and draws mapContents (from @input) onto map. Then, removes empty-map class
        d.) User finishes editing and uploading route (which now goes to firestore under the appropriate map)
    3.) Feedpage is set as root. Now, user switches floors in settings
       a.) User selects settings page, Gym Names and corresponding available floors are loaded into the view
       b.) User selects a different floor and hits back button (navigatesBack to feed page)
       c.) ionViewDidEnter triggers. this.init() is called, reloading currentFloor (and mapContents)
       d.) the change to mapContents triggers ngOnChanges in svg-map component, which finds map-component svg USING 'map-component' class
       e.) firestore is querried for route$ corresponding to THIS floor. ngChanges redraws the map in map-component becasuse routes changed
      TODO: optimize map-reloading. Do not reload route$ and mapsObj,mapContents and redraw if the map didn't change

    QUESTION: what is using class 'pan-zoom':  Is it vestigial? Does svgPanZoom use it internally?
    QUESTION: Should we find some way to not use #svgElement since it is an id and is not unique at all times in the DOM?
  -->
