
svg-map {
  // .map-container {
  //   height: 100%!important;
  //   width:100%!important;
  // }
  #rotationFrame {
    border: 0px;
    padding: none;

  }

  #applyCSS > * {
    visibility: inherit;
  }
}
