page-route-editor {
  #route-editor-map-container {

    position: fixed;
    top: 0;
    //TODO: need to change this so it is set dynamically... if this test works
    width: 100%;
    z-index: -2;
  }
  
  /*
  ion-content {
    margin-top: 0;
    margin-left:0;
    position:fixed;
    top:0;
    left:0;
  }
  */
}
