<!--  -->
<ion-content  #content padding>
  <!-- <div> -->
    <CameraComponent
      (gotPicture)="passPhotoSrc($event)"
      *ngIf="showCamera">
    </CameraComponent>

    <!-- <RouteDisplayComponent

        [imgURL]="photoSrc"
        [mapContainerDimensions]="svgRouteContainerDimensions"

        [divWidth]="displayWidth"
        [divHeight]="displayHeight"

        [completeRoute]="routeData"
        [routeHeadingStyleFlag]="'editor'"
        [displayMode]="'complete-map'"
        [mapObj]="svgMapObj"
        *ngIf="showEditor && mapContainerDimensions">

      </RouteDisplayComponent>
 -->

      <!-- fixing svg-route in route-editor notes/todo:

    -->

    <SvgRouteComponent
      [routeSrc]="photoSrc"
      [footerHeight]="footerHeight"
      [holdArray]="rHoldArray"
      [containerDimensions]="svgRouteContainerDimensions"
      (gotHolds)="passHoldInfo($event)"
      (finishedLoading)="finishedLoading($event)"
      *ngIf="showEditor && svgRouteContainerDimensions">
    </SvgRouteComponent>

    <route-features2
      [existingRouteName]="routeName"
      [existingRouteGrade]="routeGrade"
      [existingRouteFeatures]="features"
      [existingWallAngle]="wallAngle"
      [existingDescription]="routeDescription"
      [color]="color"
      [setBy]="setBy"
      (gotFeatures)="passFeatureInfo($event)"
      *ngIf="showFeatures">
    </route-features2>

     <!-- <RouteFeatures2Component
      *ngIf="showFeatures">
    </RouteFeatures2Component>
 -->



    <!-- [style.width]="mapContainerDimensions.x" -->
    <div id="route-editor-map-container"
    no-padding no-margin
    [style.height]="mapContainerDimensions.y + 'px'"

    [style.border]="solid"
    *ngIf="showMap && mapContents">
      <SvgMapComponent
          [mode]="mapMode"
          [mapContents]='mapContents'

          [mapDimensions]='mapDimensions'
          [containerDimensions]='mapContainerDimensions'

          [newRoute]="routeLocation"
          (locationSet)="passLocationInfo($event)"
          *ngIf="showMap && mapContents">
      </SvgMapComponent>
    </div>

    <!-- <hr
      no-margin
      no-padding
      [style.color]="dark"
      [style.position]="fixed"
      [style.top]="'300'"
    /> -->



    <!-- style="height:100px; width:100px;" -->

        <!-- [topoContainerDimensions]="svgRouteContainerDimensions" -->
    <!-- <div  *ngIf="showDisplay" style="height:100%; width:100%;" no-padding no-margin> -->
      <RouteDisplayComponent
        [divWidth]="displayWidth"
        [divHeight]="displayHeight"
        [completeRoute]="routeData"
        [imgURL]="photoSrc"
        [routeHeadingStyleFlag]="'editor'"
        [displayMode]="'complete-map'"
        [mapContainerDimensions]='mapContainerDimensions'
        [mapObj]="svgMapObj"
        *ngIf="showDisplay">
      </RouteDisplayComponent>
    <!-- </div> -->

</ion-content>

  <!-- no-border -->
  <ion-footer id="route-editor-footer" *ngIf="!showCamera"  no-margin
   [style.width.%]="100"
   [style.height.px]="footerHeight"
   class="test-border-green"
  >
    <!-- below is the improvised progress indicator. make a slick, light one with css -->
    <!-- <ion-grid>
      <ion-row no-padding no-margin>
        <ion-col col-1 no-padding></ion-col>
        <ion-col col-2 no-padding align="center">
          <ion-icon name="radio-button-on" ></ion-icon>
        </ion-col>
        <ion-col col-2 no-padding align="center">
          <ion-icon name="radio-button-on" ></ion-icon>
        </ion-col>
        <ion-col col-2 no-padding align="center">
          <ion-icon *ngIf="atFeatures" name="radio-button-on" ></ion-icon>
          <ion-icon *ngIf="!atFeatures" name="radio-button-off" ></ion-icon>
        </ion-col>
        <ion-col col-2 no-padding align="center">
          <ion-icon *ngIf="atMap" name="radio-button-on" ></ion-icon>
          <ion-icon *ngIf="!atMap" name="radio-button-off" ></ion-icon>
        </ion-col>
        <ion-col col-2 no-padding align="center">
          <ion-icon *ngIf="atDisplay" name="radio-button-on" ></ion-icon>
          <ion-icon *ngIf="!atDisplay" name="radio-button-off" ></ion-icon>
        </ion-col>
        <ion-col col-1 no-padding></ion-col>
      </ion-row>
    </ion-grid> -->

    <ion-navbar no-margin>
      <ion-buttons>
        <!-- <button (click)="tbGoBack()" [disabled]="disableBackButton" ion-button float-start icon-only color="dark" >
          <ion-icon name="arrow-dropleft-circle"></ion-icon>
        </button> -->

        <button (click)="tbSVGUndo()" *ngIf="showEditor" align="center" ion-button icon-only color="dark" >
          <ion-icon name="undo"></ion-icon>
        </button>
        <button (click)="tbSVGDelete()" *ngIf="showEditor" align="center" ion-button icon-only color="dark" >
          <ion-icon name="trash"></ion-icon>
        </button>
        <button (click)="tbSVGColor()" *ngIf="showEditor" align="center" ion-button icon-only [color]="svgState" >
          <ion-icon name="color-fill"></ion-icon>
        </button>

        <button (click)="tbGoForward()" [disabled]="disableForwardButton"
                *ngIf="!showDisplay" ion-button float-end icon-only color="dark"  >
          <ion-icon name="arrow-dropright-circle"></ion-icon>
        </button>

        <button *ngIf="showDisplay" ion-button float-end icon-only color="dark" (click)="tbFinished()">
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-footer>
