RouteDisplayComponent {

  .route-display-topo-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    // border-style:solid;
    height:80%;
    overflow: hidden;
  }

  .topo {
    margin-bottom:0px;
  }

  #route-display-map-container {
    // height:80%
    margin-left: auto;
    margin-right: auto;

    height:80%;
    margin-bottom: 0px;
    display:block;
  }

  .topo-photo {
    // width:100%;
    // height:100%;
    border-style: solid;
    border-color: red;
  }

  .map-toggle-container {
    position:absolute;
    font-size:40px;
    transform: translate(225px,-28px);//last x:
    z-index:1000;
    // border-style: solid;
    // border-color: red;
  }
  .toggle-map {
    height:40px;
    width:40px;
    background-color:#D6DF2A;//yellow
    color: #A001D0; //purple
    border-radius: 50%;
    text-align: center;
  }

  .toggle-beta {
    height:40px;
    width:40px;
    background-color:#A001D0;//purple
    color: #D6DF2A; //yellow
    border-radius: 50%;
    text-align: center;
  }

  .margin-bottom {
    margin-bottom: 16px;
  }

}
