<route-heading *ngIf="displayMode=='complete-map' || displayMode=='complete'"
  [authorName]="authorName"
  [routeName]="routeName"
  [grade]="grade"
  [wallAngle]="wallAngle"

  [authorMug]="authorMug"
  [consensusGrade]="consensusGrade"
  [features]="features"
  [styleFlag]="routeHeadingStyleFlag"

  >
</route-heading>

<!-- BEGIN: topo vs map toggle button(s) -->

  <!-- no-margin -->
<div *ngIf="showComplete" type="button"
  (click)="toggleMapView()"
  no-padding
  class='map-toggle-container'
  >
  <div no-margin *ngIf="hideRoute" class="toggle-beta" >
    &beta;
  </div>

    <ion-icon class="toggle-map" *ngIf="!hideRoute" name="ios-compass"  no-padding no-margin >
    </ion-icon>
</div>
<!-- END: topo vs map toggle button(s) -->

<!-- BEGIN: Topo -->
<div no-margin [hidden]="hideRoute" #routeDisplayTopoContainer
     no-padding
     class="route-display-topo-container rounded-top" >
    <svg #svgElement id="{{divID}}"  class="svg prevent-scroll no-scroll topo"
      [style.width]="svgWidth" [style.height]="svgHeight"
      [attr.viewBox]="svgViewBox"
       xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <image [attr.xlink:href]="photoSrc"  />
    </svg>
</div>

divWidth: {{divWidth}}
divHeight: {{divHeight}}
<!-- END: Topo -->

<!-- BEGIN: Map -->
<!-- NOTE: using topoContainerDimensions for map. This object represents the dimensions of the topo.
     Reason: map and topo should display as same size to avoid "jumping" when toggle
     between views. -->
  <div #routeDisplayMapContainer id="route-display-map-container"
    [style.width]="topoContainerDimensions.x"
    [style.height]="topoContainerDimensions.y"
    [hidden]="!hideRoute"
    class='rounded-top'

    *ngIf="(displayMode==='complete' || displayMode==='complete-map') &&
            topoContainerDimensions && mapObj.mapContents"
  >
  <!-- mapObj.selectedRoute -->
  <!-- [selectedRoute]='currentRoute$ | async' -->

        <!-- [selectedRoute$]='currentRoute$' -->
        <!-- TODO: depricate currentRoute$ | async, instead pass the behavior subject -->
      <SvgMapComponent #map
        [mapDimensions]='mapObj.mapDimensions'
        [containerDimensions]="topoContainerDimensions"
        [mode]="'view'"
        [mapContents]='mapObj.mapContents'
        [selectedRoute]='currentRoute$ | async'
        [selectedRoute$] = 'currentRoute$'
        [routes]='mapObj.routes'
        [newRoute]='mapObj.location ? mapObj.location : mapObj.newRoute'
        [additionalClass]="'rounded-top'"
        *ngIf="mapObj.containerDimensions"
      >
      </SvgMapComponent>
  </div>
<!-- END: Map -->

<!-- overflow:hidden; -->

<div *ngIf = "showComplete && description"  class="eggshell padding rounded-bottom margin-bottom" >
  {{description}}
</div>


<!-- <div *ngIf="showComplete" style="display:block; margin-left: auto; margin-right: auto;">
  <ion-item-group [style.display]="'block'">
      <ion-item *ngIf="filterCategoryObject">
        The wall angel of this route is: <i>{{filterCategoryObject.rangeFilterCategories.wallAngle.valueMap[wallAngle].label}}</i>
      </ion-item>
      <ion-item *ngIf="features.length > 0">
        Its features are:
        <ul>
          <li *ngFor="let feature of features">
            {{ feature }}
          </li>
        </ul>
      </ion-item>
  </ion-item-group>

  overflow: hidden;

  </div> -->
