<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Create an Account
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- (hey i commented out this image cause i thought it looked cheesy and loaded before the form so it seemed like there was a problem) <img src="assets/img/wall.jpg" class="auth-img"> -->
  <form [formGroup]="signupForm" (submit)="registerUser()" novalidate *ngIf=optionsLoaded>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="text" placeholder="Your email address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password"
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
        </ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Display Name</ion-label>
      <ion-input formControlName="displayName" type="text" placeholder="Radclimber1981" >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Gym (you can change this later)</ion-label>
      <ion-select formControlName='gym'>
        <ion-option *ngFor='let gym of gymData' [value]='gym.gymId'>
          {{gym.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!signupForm.valid">
      Create an Account
    </button>

  </form>
</ion-content>
