<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>Settings</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="! isPoppingToRoot ? returnToFeed() : null">GO TO FEED</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider color="primary">Gym Settings</ion-item-divider>
    <ion-item >
      <ion-label *ngIf='optionsLoaded' color="primary">Gym Name</ion-label>
      <ion-label *ngIf='!optionsLoaded && connection && !this.connection.hasDataConn' class="assertive"> Gym Name (Connect to Internet to Change)</ion-label>
        <ion-select *ngIf='optionsLoaded' (ionChange)='updateGymId($event)'>
          <ion-option *ngFor='let gym of gymData' [selected]='gym.gymId==gymId' [value]='gym'>
            {{gym.name}}
          </ion-option>
        </ion-select>
    </ion-item>
    <ion-item >
      <ion-label *ngIf="mapsObj && mapsObj.hasOwnProperty('mapByFloor') && mapsObj.mapByFloor" color="primary">Floor</ion-label>
        <ion-select *ngIf="mapsObj && mapsObj.hasOwnProperty('mapByFloor') && mapsObj.mapByFloor" (ionChange)='updateFloor($event)'>
          <ion-option  *ngFor='let floor of Object.keys(mapsObj.mapByFloor)' [selected]='floor==this.settings.currentFloor' [value]='floor'>
            {{floor}}
          </ion-option>
        </ion-select>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="primary">User Settings</ion-item-divider>
    <ion-item>
      <ion-label *ngIf='optionsLoaded' color="primary">Logged in as:</ion-label>
      <p style="float: right;">{{currentDisplayName}}</p>
    </ion-item>
    <ion-item>
      <ion-buttons>
        <button ion-button color="danger" (click)="logOutUser()" style="float: right;">LOG OUT</button>
      </ion-buttons>
    </ion-item>
  </ion-item-group>
</ion-content >

<!--
    <ion-item>
      <ion-buttons>
        <button ion-button (click)="returnToFeed()">RETURN TO FEED</button>
      </ion-buttons>
    </ion-item>

    <ion-item></ion-item>
-->
    <!-- <ion-item-divider color="primary">User Settings</ion-item-divider> -->
    <!--
    <ion-item>
      <ion-label>Visible Mode</ion-label>
      <ion-toggle [(ngModel)]="visibleMode"></ion-toggle>
    </ion-item>

    <ion-item-divider color="light">Cache Settings</ion-item-divider>

    <ion-item>
      <ion-label>Save route comments for offline viewing</ion-label>
      <ion-toggle [(ngModel)]="cacheRouteComments"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Save route details for offline viewing</ion-label>
      <ion-toggle [(ngModel)]="cacheRouteDetails"></ion-toggle>
    </ion-item>


    <ion-item-divider color="light">Notify me when...</ion-item-divider>

    <ion-item>
      <ion-label>Someone comments on a route of mine</ion-label>
      <ion-toggle [(ngModel)]="onComment"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>A route of mine gets stripped</ion-label>
      <ion-toggle [(ngModel)]="onRouteDeleted"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Someone attempts a route of mine</ion-label>
      <ion-toggle [(ngModel)]="onNewAttempt"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Someone sends a route of mine</ion-label>
      <ion-toggle [(ngModel)]="onNewSend"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Someon I follow posts a new route</ion-label>
      <ion-toggle [(ngModel)]="onNewRouteByFollowed"></ion-toggle>
    </ion-item>

  -->
