// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.no-scroll{
  .scroll-content{
    overflow:hidden!important;
  }
}

// One Offs
.route-item {
   background-color:#F4F5E0;
   border-radius: 5%;
}

  .eggshell {
    background-color: #f5efef;
  }


  .rounded {
    border-radius: 25px;
    overflow: hidden;
  }

  .rounded-top {
    border-radius: 25px 25px 0px 0px;
  }

  .rounded-bottom {
    border-radius: 0px 0px 25px 25px;
  }

  .rounded-left {
    border-radius: 25px 0px 0px 25px;
  }

  .padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .margin-top {
    margin-top: auto;
  }

  .margin-bottom {
    margin-bottom: auto;
  }

  .test-border-red{
    border-style: solid;
    border-color: red;
  }

  .test-border-blue{
    border-style: solid;
    border-color: blue;
  }

  .test-border-green{
    border-style: solid;
    border-color: green;
  }


  .purple {
    color: #A001D0; //purple
  }


$background-color: #D6DF2A;
$list-background-color: #D6DF2A;
