
<ion-menu
  [content]="content"
  [swipeEnabled]="false"

>
  <ion-content>
      <ionic-image-cache  [isAvatar]="'true'" [showPreview]="'false'"
       [src]="user ? user.photoURL: null"
       class="img-circle size-avatar">
      </ionic-image-cache>
      <h1 *ngIf="user">{{user.displayName}}</h1>
    <ion-list>

      <ion-item (click)="emitSettingsClicked()">
        <ion-icon name="md-settings"></ion-icon>
        Settings
      </ion-item>

      <ion-item (click)="emitFiltersClicked()">
        <ion-icon name="search"></ion-icon>
          Filters
      </ion-item>

      <ion-item (click)="emitRouteEditorClicked()">
        <ion-icon name="create"></ion-icon>
        Create New Route
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
