<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Reset your Password
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- this img is broken and seems unnecessary anyways <img src="assets/img/logo.jpg" class="auth-img"> -->
  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!resetPasswordForm.controls.email.valid &&
        resetPasswordForm.controls.email.dirty">
        </ion-input>
    </ion-item>

    <ion-item class="error-message"
    *ngIf="!resetPasswordForm.controls.email.valid  && resetPasswordForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!resetPasswordForm.valid">
      Reset your Password
    </button>

  </form>
</ion-content>
