<!-- Generated template for the DeleteContestRouteComponent component -->
<div>
  <!--
  -Show whether route is already marked for delete
  -Show whether delete is contested
  -This route should be deleted button
  -This route should not be deleted button
-->
<h1>Is this route missing?</h1>
<ion-grid>
  <ion-row>
    <ion-col>

      <!--
          the confirmContestPupup calls emitAction('confirm') when appropriate
      -->
      <button ion-button (click)="handleDeleteAttempt()">Delete Route</button>
    </ion-col>

    <!--Only show the 'contest' option if the route has already been marked for delete
        the confirmContestPupup calls emitAction('confirm') when appropriate
    -->
    <ion-col *ngIf="isMarkedForDelete">
      <button ion-button (click)="handleContestAttempt()">Keep Route</button>
    </ion-col>

    <!-- emit 'cancel' so parent knows to hide this component -->
    <ion-col>
      <button ion-button (click)="emitAction('cancel')">Cancel</button>
    </ion-col>

  </ion-row>
  <ion-row></ion-row>
</ion-grid>
</div>
