page-routes-feed {
  //this was not being used!
  // .map-container {
  // border:0px;
  // padding:0px;
  // height:50%;
  // width:100%;
  // background:grey;
  // color:red;
// }

// #D6DF2A
  .toolbar-background {
    background-color:$background-color;
  }

  .half-view{
    height:50%;
  }

  .top-half{
    position: relative;
    top: 0;

    padding: 2px;

    width: 100%;
    height: 55%;

    z-index: -10;
    // padding:'40vh';
    margin: '30vh'!important;
    background-color: #0b9eac;
    // border:1px solid red;
  }

  .image-div{
    position:relative;
  }
  .triangle-left{
    content:'';
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #0b9eac;
    position:absolute;
    left:25%;
    top:0;
  }

  .triangle-right{
    content:'';
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #0b9eac;
    position:absolute;
    left:75%;
    top:0;
  }

//   @-webkit-keyframes slideIn {
//   0% {
//     left: -100%;
//   }
//   100% {
//     left: 0;
//   }
// }

@keyframes slideInSmoothFromRight{
  0% {
    left: 75%;
  }
  100% {
    left:25%;
  }
}


.slide-in-from-right{
   -webkit-animation: slideInSmoothFromRight ease-in 1;
  animation: slideInSmoothFromRight ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
}

@keyframes slideInFromLeft{
  0% {
    left: 25%;
  }
  100% {
    left:75%;
  }
}

.slide-in-from-left{
  -webkit-animation: slideInFromLeft ease-in 1;
  animation: slideInFromLeft ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
}


  img{
    width:100%;
  }


  .top-half::after{
  	content: '';
  	height: 0;
  	position: absolute;
  	width: 0;

    top:100%;
    left:10px;
    border: 10px solid transparent;
	  border-top-color: red;

    // z-index: 10;
  }

  .bottom-half{
    width: 96%;
    height: 40% !important;
    top: 55%;
    // bottom: '100vh';
    // border: 1px solid blue;
    z-index: 0;
    position: fixed;
    // margin-left: auto;
    margin-right: 0px;
    margin:3% !important;
    overflow:hidden;
  }

  .card-top-container{
    height:60%; //!important
    // border: 1px solid red;
    overflow:hidden;
  }

   .card-bottom-container {
    height: 40%; //!important
    width:100%;  //!important
    // overflow:hidden !important;
    position:absolute;
    bottom:0px;
    // border: 1px solid blue;
  }


  // .nav-bar {
  //   // background-color:$background-color;
  //   background-color:#D6DF2A;
  // }


  .both-halfs{
    height: 100%;
    width: 100vw;
    top:'100vh';
    bottom:'100vh';
  }

  .marginal{
    margin-top: 18%;
  }

/* Place slides at top of slider*/
  ion-slide.slider-top{
    align-items: flex-start;
    // width:85% !important;
  }


    ion-row {
      height: 50%;
      width:100%;
    }

    img.card-image {
      max-width:40%;
      max-height:40%
    }

}
