
<ion-header #header>

  <ion-navbar  *ngIf="!showMap" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <floor-toggle *ngIf="fstoreObsReady && !listView"
      (newFloor)="toggleFloor($event)"
      [mapsObj]="mapsObj"
      [currentFloor]="currentFloor"
      [changingFloorNow]="changingFloorNow"
    >
    </floor-toggle>
    <ion-buttons end >
      <button ion-button icon-only *ngIf="offlineRoutesExist" (click)="offlineRoutesNotice()">
        <ion-icon name="alert" color="danger"></ion-icon>
      </button>

      <button *ngIf="fstoreObsReady && feedCache" ion-button icon-only (click)="toggleListView()">
        <ion-icon *ngIf="listView" name="ios-compass"></ion-icon>
        <ion-icon *ngIf="!listView" name="md-list"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #content (ionScroll)='onPageScroll($event)'>

  <list-view *ngIf="listView && fstoreObsReady"
    [fsObs]="fsObs"
    [feedCache]="feedCache"
    [visibility]='listView'
    [colorNamesToColorCodes]="colorNamesToColorCodes"
    [filteredRoutes$]="routes$"
    [displayDimensions]="listDisplayDimensions"
    [scrollTop$]='scrollTop$'
    (routeSelected)='listRouteSelected($event)'
     >
  </list-view>

  <!-- [style.visibility]="!listView ? 'visible' : 'hidden'" -->
  <!-- [style.display]="!listView ? 'inline' : 'none'" -->
  <div class="both-halfs" ion-fixed style="overflow:hidden;"
  [style.visibility]="!listView ? 'visible' : 'hidden'"
  [style.pointer-events]="!listView ? 'auto' : 'none'">

    <!-- no-margin   -->
    <!-- no-padding -->
    <div  #topHalf
      class='top-half'
      id='map-container'
      style="overflow: hidden;"
      [style.visibility]="!listView ? 'visible' : 'hidden'"

      [style.pointer-events]="!listView ? 'auto' : 'none'">
        <SvgMapComponent #svgMapComponent *ngIf="mapDepReady && fstoreObsReady"
           [style.visibility]="!listView ? 'visible' : 'hidden'"
           [style.pointer-events]="!listView ? 'auto' : 'none'"

           [mode]='mapMode'

           [containerDimensions]='mapContainerDimensions'
           [mapDimensions]='mapDimensions'

           [mapContents]='mapContents'

           [selectedRoute]="selectedRoute$ | async"
           [routes]="fsObs.behaviorSubjFilteredRoute$ | async"

           (routePinTapped)="scrollToRoute($event)"
           (locationSet)='handleLocation($event)' >
        </SvgMapComponent>
    </div >

    <!-- triangle for "tooltip" effect on bottom of map border -->
    <ng-container *ngIf="fsObs && fsObs.behaviorSubjFilteredRoute$ &&
                         {index:index$ | async,
                         routes: fsObs.behaviorSubjFilteredRoute$ | async} as data;">
      <div
      class="image-div"
      *ngIf="data.index < data.routes.length-1; else rightTri;">
        <span
          class="triangle-left slide-in-from-right">
        </span>
      </div>
      <ng-template #rightTri>
        <div class="image-div">
          <span
          class="triangle-right slide-in-from-left">
          </span>
        </div>

      </ng-template>
    </ng-container>

    <div id='slides-container'
      style="overflow:hidden;"
      no-padding no-margin class='no-scroll bottom-half'
      [style.visibility]="!listView ? 'visible' : 'hidden'"
      [style.pointer-events]="!listView ? 'auto' : 'none'">
      <!-- REMOVED FROM ion-slides: class='bottom-half' -->

        <!-- [style.opacity]="0" -->
      <ion-slides id='slider'
        *ngIf='fstoreObsReady'
        (ionSlideDidChange)="handleSliderChange()"
        spaceBetween='4'
        slidesPerView="1.2"
        centeredSlides="'true'"
        no-margin
        no-padding
        [style.visibility]="!listView ? 'visible' : 'hidden'"
        [style.pointer-events]="!listView ? 'auto' : 'none'">

        <ion-slide no-padding no-margin class='slider-top rounded' *ngFor="let route of fsObs.behaviorSubjFilteredRoute$ | async; trackBy: trackByPushKey;" style="height:100%; width:100%;">
          <!-- removed from ion-card class='justify-top' -->
              <ion-card  no-margin no-padding style="width:100%" [style.background]="route.color? colorNamesToColorCodes[route.color] : null" >
                <!-- <ion-card-title>
                  {{route.name}}  V{{route.grade}}
                  <ion-icon *ngIf="route.markedForDelete" (click)="showMarkedAlert()" name="alert" color="danger"></ion-icon>

                  <div *ngIf="routeIdToSends">
                    <ion-icon *ngIf="routeIdToSends.hasOwnProperty(route.pushKey)"  (click)="showTimesSentAlert(routeIdToSends[route.pushKey])" name="checkmark-circle" color="calm"></ion-icon>
                  </div> -->
  <!--
                  <div *ngIf="routeIdToSend$ | async as routeIdToSends">
                    <ion-icon  (click)="showTimesSentAlert(routeIdToSends[route.pushKey])" name="checkmark-circle" color="calm"></ion-icon>
                  </div> -->

                  <!-- <ion-icon *ngIf="(routeIdToSend$ | async ) as routeIdToSends && routeIdToSends.hasOwnProperty(route.pushKey)"  (click)="showTimesSentAlert(routeIdToSends[route.pushKey])" name="checkmark-circle" color="calm"></ion-icon> -->

                <!-- </ion-card-title> -->
                <ion-card-content no-margin no-padding (click)="goToRouteDetailsPage2(route, feedCache)">
                  <ion-spinner *ngIf="feedCache && feedCache.hasOwnProperty('cacheTracker') && feedCache.cacheTracker.cacheState.idToLoading[route.pushKey]" width=100 height=200></ion-spinner>



                  <div class="card-top-container"
                    no-margin
                    no-padding
                    >

                    <FeedRouteDisplayComponent
                      *ngIf="feedCache && feedCache.hasOwnProperty('cacheTracker') && feedCache.cacheTracker.cacheState.idToLoaded && feedCache.cacheTracker.cacheState.idToLoaded[route.pushKey]"
                      [imgURL]="feedCache.cacheTracker.cacheState.idToLoaded[route.pushKey].fullPath"
                      [divWidth]="slideDisplayWidth"
                      [divHeight]="slideDisplayHeight"
                      [completeRoute]="route"
                      [mode]="sKey">
                    </FeedRouteDisplayComponent>
                  </div>

                  <div class="card-bottom-container"
                  no-margin
                  no-padding
                  >
                    <route-heading *ngIf="route"
                      [authorName]="route.authorName"
                      [routeName]="route.name"
                      [grade]="route.grade"
                      [wallAngle]="route.wallAngle"

                      [authorMug]="route.authorMug"
                      [consensusGrade]="route.consensusGrade"
                      [features]="route.features"
                      [styleFlag]="'routes-feed-map'"

                      >
                    </route-heading>
                  </div>

                <p *ngIf="route.hasOwnProperty('numComments')">{{route.numComments}} comments</p>
                <p>routeId: {{route.pushKey}} </p>
                <ion-icon name="edit" color="danger" item-left></ion-icon>
                <ion-icon name="user"></ion-icon>
                </ion-card-content>
              </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
