<!-- Generated template for the FloorToggleComponent component -->
<div *ngIf="mapsObj && !changingFloorNow"(click)="toggleFloor()"
class="rounded" >
  <button>
    Floor: {{currentFloor}}
  </button>

</div>

<div *ngIf="changingFloorNow">
  ...fetching floor: {{currentFloor}}...
</div>
