    <div no-padding ion-scroll no-margin class='both-halfs'
    [style.visibility]="visibility ? 'visible' : 'hidden'"
    style="z-index: 1; position:absolute; ">

    <ion-list style="position:relative;" class="scroll">
      <ion-item>
        <ion-label>Viewing List</ion-label>
        <ion-select [(ngModel)]="selectedList" (ionChange)="changeList(selectedList)">
          <ion-option *ngFor="let listName of listNameArr">{{listName}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div *ngIf="showListOptions" style="position: relative; float:left; left: 10%; width:100vmin">
      <a *ngIf="!listOptionsToggle" (click)="toggleListOptions()" style=""><ion-icon name="arrow-dropdown"></ion-icon>Edit List</a>
      <div *ngIf="listOptionsToggle" style="">
        <a (click)="toggleListOptions()"><ion-icon name="arrow-dropup"></ion-icon>Done</a>
        <a (click)="renameList()">Rename List</a>
        <a (click)="deleteList()">Delete List</a>
      </div>
    </div>
    <ion-list id='ionList' *ngIf="initComplete"
              style="height: inherit; position: static;" [ngClass]="{'marginal':showListOptions}"
               >
              <!-- inset="true" -->
      <!-- <hr style="position:relative;"> -->
      <ion-item-group [reorder]="listOptionsToggle" (ionItemReorder)="reorderList($event)">

          <!-- (press)="listPress(route.pushKey, route.name, route.mapId)" -->
        <ion-item *ngFor="let route of listArr$ | async; trackBy: trackByPushKey; index as indx"
          (tap)="listTouch(route, 'tap')"
          (pan)="listTouch(route, 'pan')"
          [style.height]="displayDimensions.height"
          class='route-item'
          >
          <ion-grid>
            <ion-row>

              <ion-spinner *ngIf="feedCache && feedCache.hasOwnProperty('cacheTracker') && feedCache.cacheTracker.cacheState.idToLoading[route.pushKey]" width=100 height=100></ion-spinner>

              <FeedRouteDisplayComponent
                *ngIf="feedCache && feedCache.hasOwnProperty('cacheTracker') && feedCache.cacheTracker.cacheState.idToLoaded && feedCache.cacheTracker.cacheState.idToLoaded[route.pushKey]"
                [imgURL]="feedCache.cacheTracker.cacheState.idToLoaded[route.pushKey].fullPath"
                [divWidth]="displayDimensions.width*0.9"
                [divHeight]="displayDimensions.height*0.9"
                [completeRoute]="route"
                [mode]="lKey"
                item-start
                style="width:displayDimensions.width;height:1.3*displayDimensions.height;">
              </FeedRouteDisplayComponent>


            </ion-row>

            <!-- summary info about the route (name, setter avatar, grade, etc) -->
            <ion-row>


              <!-- author's avatar -->
              <ion-col size="3">
                <ionic-image-cache  [isAvatar]="'true'" [showPreview]="'false'"
                 [src]="route.authorMug ? route.authorMug : null"
                 class="img-circle size-avatar">
                </ionic-image-cache>
              </ion-col>

              <ion-col size="6">
                <div float-left>

                </div>
                  <p>{{route.pushKey}}</p>
                <p>{{route.authorName}}</p>
                <h2>{{route.name}}</h2>
                <p></p>
              </ion-col>

              <ion-col size="3">
                <ion-icon *ngIf="route.markedForDelete" (click)="showMarkedAlert()" name="alert" color="danger"></ion-icon>

                <ion-note item-end>
                  <div [style.background]="route.color? colorNamesToColorCodes[route.color] : null">
                    V{{route.grade}}
                  </div>
                </ion-note>
                <ion-note *ngIf="listOptionsToggle" item-end >
                  <!-- <button ion-button icon-only color="light" (click)="routeListOptions(route.pushKey, route.name)">
                    <ion-icon name="settings" color="primary"></ion-icon>
                  </button> -->
                  <!-- <button ion-button icon-only color="light" (click)="deleteRouteFromListAlert(route.pushKey, indx)">
                    <ion-icon name="trash" color="danger" background="white"></ion-icon>
                  </button> -->
                </ion-note>
              </ion-col>
            </ion-row>

          </ion-grid>



        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
