<div>
  <p><br><br><br><br></p>
</div>

<div style="display:flex; flex-direction:column;justify-content:center">
    <button ion-button (click)="capture()">Take a picture<br>of your route</button>
</div>
<div style="display:flex; flex-direction:column;justify-content:center">
    <button ion-button (click)="defaultImg()">Use Default img</button>
</div>
